# Data Science London [Link](https://www.kaggle.com/c/data-science-london-scikit-learn/overview)

In [206]:
from sklearn import linear_model
import sklearn
from sklearn import svm
from sklearn.metrics import accuracy_score
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [207]:
X=pd.read_csv('train.csv',header=None).to_numpy()

In [208]:
X.shape

(1000, 40)

In [209]:
y=pd.read_csv('trainLabels.csv',header=None).to_numpy()

In [210]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [211]:
clf = svm.SVC(gamma='scale')

In [212]:
clf.fit(X_train,y_train)

/home/parasmehan123/.conda/envs/kaggle/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [213]:
y_pred_train=clf.predict(X_train)

In [215]:
y_pred_test=clf.predict(X_test)

In [216]:
accuracy_score(y_pred_test,y_test)

0.89

In [217]:
accuracy_score(y_pred_train,y_train)

0.94875

In [218]:
final_X=pd.read_csv('test.csv',header=None).to_numpy()

In [219]:
out=clf.predict(final_X)

In [231]:
df=pd.DataFrame(out,index=range(1,9001))

In [234]:
df.columns=['Solution']

In [237]:
df.rename_axis('Id',axis="columns",inplace=True)

In [238]:
df

Id    Solution
1            1
2            0
3            1
4            0
5            0
6            0
7            0
8            1
9            0
10           0
11           1
12           1
13           1
14           1
15           0
16           1
17           0
18           1
19           1
20           1
21           0
22           1
23           0
24           0
25           1
26           1
27           1
28           0
29           1
30           0
...        ...
8971         0
8972         0
8973         1
8974         1
8975         0
8976         1
8977         0
8978         1
8979         1
8980         1
8981         1
8982         1
8983         0
8984         0
8985         0
8986         1
8987         0
8988         0
8989         1
8990         0
8991         0
8992         1
8993         0
8994         1
8995         1
8996         1
8997         1
8998         1
8999         0
9000         1

[9000 rows x 1 columns]

In [239]:
df.to_csv('out.csv')