# Data Science London [Link](https://www.kaggle.com/c/data-science-london-scikit-learn/overview)

In [6]:
from sklearn import linear_model
import sklearn
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB,BernoulliNB
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
X=pd.read_csv('train.csv',header=None).to_numpy()

In [3]:
X.shape

(1000, 40)

In [4]:
y=pd.read_csv('trainLabels.csv',header=None).to_numpy()

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [8]:
clf1 = svm.SVC(gamma='scale')
clf2 = GaussianNB()
clf3 = BernoulliNB()

In [9]:
clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)
clf3.fit(X_train,y_train)

/home/parasmehan123/.conda/envs/kaggle/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/parasmehan123/.conda/envs/kaggle/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/parasmehan123/.conda/envs/kaggle/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [10]:
y1_pred_train=clf1.predict(X_train)
y2_pred_train=clf2.predict(X_train)
y3_pred_train=clf3.predict(X_train)

In [12]:
y1_pred_test=clf1.predict(X_test)
y2_pred_test=clf2.predict(X_test)
y3_pred_test=clf3.predict(X_test)

In [15]:
print(accuracy_score(y1_pred_test,y_test),accuracy_score(y2_pred_test,y_test),accuracy_score(y3_pred_test,y_test))

0.89 0.81 0.775

In [16]:
accuracy_score(y1_pred_train,y_train),accuracy_score(y2_pred_train,y_train),accuracy_score(y3_pred_train,y_train)

(0.94875, 0.83375, 0.77375)

In [17]:
final_X=pd.read_csv('test.csv',header=None).to_numpy()

In [18]:
out1=clf1.predict(final_X)
out2=clf2.predict(final_X)
out3=clf3.predict(final_X)

In [19]:
df1=pd.DataFrame(out1,index=range(1,9001))
df2=pd.DataFrame(out2,index=range(1,9001))
df3=pd.DataFrame(out3,index=range(1,9001))

In [20]:
df1.columns=['Solution']
df2.columns=['Solution']
df3.columns=['Solution']

In [21]:
df1.rename_axis('Id',axis="columns",inplace=True)
df2.rename_axis('Id',axis="columns",inplace=True)
df3.rename_axis('Id',axis="columns",inplace=True)

In [24]:
df3

Id    Solution
1            1
2            0
3            0
4            0
5            0
6            0
7            0
8            1
9            0
10           0
11           1
12           1
13           1
14           1
15           1
16           0
17           0
18           1
19           0
20           1
21           0
22           0
23           0
24           1
25           1
26           1
27           1
28           1
29           0
30           0
...        ...
8971         1
8972         0
8973         1
8974         1
8975         0
8976         1
8977         0
8978         1
8979         1
8980         1
8981         0
8982         1
8983         1
8984         0
8985         0
8986         1
8987         0
8988         0
8989         1
8990         0
8991         0
8992         0
8993         0
8994         1
8995         1
8996         0
8997         1
8998         1
8999         0
9000         1

[9000 rows x 1 columns]

In [26]:
df1.to_csv('out1.csv')
df2.to_csv('out2.csv')
df3.to_csv('out3.csv')